.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
*.*~
*~
.erlang.cookie
.DS_Store
rebar.lock
ebin
log
logs
erl_crash.dump
.rebar
_rel
_deps
deps
_plugins
_tdeps
_plts
logs
tests
_build
rebar3
/basho_bench
/rel/basho_bench
package
.rebar
*~
#*#
