%% Consult http://docs.basho.com/riak/latest/ops/building/benchmarking/#Configuration
%%  

% Run test for one minute
{duration, 1}.

%% 5 ops * number of concurrent test clients
%% Why 5? my old laptop crash
{mode, {rate, 5}}
%% 10 test clients 
{concurrent, 10}.

{distribute_work, true}.
{remote_nodes, ['gen_rpc_slave@127.0.0.1']}.

{driver, basho_bench_driver_gen_rpc}.

%% These few are gen_rpc specific
%% 
{gen_rpc_client_nodes, []}.
{gen_rpc_client_cookie, 'gen_rpc'}.
{gen_rpc_master, ['gen_rpc_master@127.0.0.1']}.
{gen_rpc_port, 9160}.

%% Call pattern generator 
{key_generator, {int_to_str, {uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

%% What and how to call test function in gen_rpc test driver
%% Just an example, for every 10 calls, 6 are call, 2 cast, 2 safe_cast
{operations, [{call, 6}
              ,{cast, 2}
              , safe_cast, 2]}.

%% Path to your deps and your requried deps 
{code_paths, ["./deps/gen_rpc/ebin"]}.
